 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .navbar{
    
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    background-color: #40916c;
    color: white;
    padding: 25px 60px;
    margin-bottom: 30px;
 }
 a{
    text-decoration: none;
    color: white;
 }
 .cart{
    position: relative;
    background-color:white;
    color: #40916c;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;
 }
 i{
    cursor: pointer;
 }
 .cart_amount{
    position: absolute;
    top: -15px;
    right: -10px;
    background-color:red;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    padding: 3px;

 }
 .shop{
    
    display:grid;
    /* flex-direction: column; */
    grid-template-columns: repeat(4,223px);
    /* grid-template-rows: 220px; */
    gap: 30px;
    justify-content: center;

 }
 @media(max-width:1000px){
    .shop{
        grid-template-columns: repeat(2,223px);
    }
    
 }
 @media(max-width:480px){
    .shop{
        grid-template-columns: repeat(1,223px);
    }
    
 }

 .item{
    border: 2px solid #40916c;
    /* height: auto; */
    border-radius: 5px;
    /* margin-left: 40px; */
 }
 .details{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
 }
 .price-quantity{
    display: flex;
    justify-content: space-between;
 }
 .buttons{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
 }
 .bi-dash-lg{
    color: red;
    cursor: pointer;
 }
 .bi-plus-lg{
    color: green;
    cursor: pointer;
 }

 .text-center{
    text-align: center;
    margin-bottom: 20px;

 }
 .homebtn{
    background-color: #212529;
    color: white;
    padding: 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
 }
 .bi-x-lg{
    color: red;
    font-weight: bold;
 }
 .shopping-cart{
    display: grid;
    grid-template-columns: repeat(1,320px);
    justify-content: center;
    gap: 15px;
 }
 .cart-item{
    border: 2px solid #40916c;
    display: flex;
 }
 .title-price-x{
    width: 195px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* border: 1px solid red; */
 }
 .title-price{
    display: flex;
    gap: 10px;
    align-items: center;
    
 }
 .cart-item-price{
    background-color: #40916c;
    color: white;
    padding: 6px 6px;
    border-radius: 4px;
 }
 .checkout{
    background-color: #40916c;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
 }
 .clearCart{
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
 }