*{  
    /* margin: 0; */
    /* padding: 0; */
    text-align: center;
    color: #545871;
}
.navbar{
    border: 1px solid red;
    width: 100%;
    height: 110px;
}
img{
    
    width: 150px;
    height: 50px;
}
form{
    width: 30%;
    margin: auto;
    margin-top: 3%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding-left: 40px;
    padding-top: 20px;
    border-radius: 10px;
    text-align: left;
}
form>input{
    width: 85%;
    margin: 2% 1px 5% 1px;
    padding: 0.5rem;
    border: 1.5px solid rgb(177, 176, 176);
    border-radius: 7px;
}

form+button{
    margin-top: 2%;
    padding: 0.5em;
    background-color: #545871;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: antiquewhite;
    font-size: 18px;
}
input[type="submit"]{
    color: antiquewhite;
    background-color:  #545871;;
}

.cart-footer{
    margin-top: 30px;
    /* border: 1px solid black; */
    height:auto;
    background-color: #F0F1F7;
}
.copyright{
    margin-bottom: 5px;
    margin-left: 15px;
    background-color: #F0F1F7;
}
.copyright a{
    text-decoration: none;
    color: black;
}
.copyright a:hover{
    cursor: pointer;
    color: skyblue;
}
#patent{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: #F0F1F7;
}
#last{
    background-color:#F0F1F7;;
}