*{
    margin: 0;
    padding: 0;
    /* background-color: #fff; */
}
/**
*!FOR NAVBAR
**/


/* body{
    margin: 0;
    padding: 0;
} */
.navbar{
    /* border: 1px solid red; */
    width: 100%;
    height: 130px;
    }
    
    
    body{
        margin: 0;
        padding: 0;
    }
    #nav_container{
        /* border: 1px solid red; */
        background-color: #F0F1F7;
        width: 100%;
        height: 130px;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(auto,75px);
        
        grid-template-areas: 
        "a b b b c c"
        "d e e e f f";
       
        
    }
    
    #nav_container> div:nth-child(1) {
        grid-area: a;       
        text-align: center; 
    }
    #nav_container> div:nth-child(2){
        grid-area: b;
        display: flex;
        gap: 0px;
        /* border: 1px solid blue; */
    }
    #nav_container> div:nth-child(3){
        grid-area: c;
    }
    #nav_container> div:nth-child(4){
        grid-area: d;
        display: flex;
    }
    #nav_container> div:nth-child(5){
        grid-area: e;
        display: flex;
        
    }
    #nav_container> div:nth-child(6){
        grid-area: f;
        display: flex;
    }
    #nav_container> div:nth-child(1)>img {
        width: 90%;
        height: 80%;
        margin-top: 15px;
    
    }
    #nav_select{
        margin-top: 20px;
        border-radius: 20px 0px 0px 20px;
        width: 150px;
        height: 45px;
        font-size: 15px;
        margin-left: 20px;
       
    }
    #search_btn>img{
       width: 60%;
       height: 80%;
    }
    #search_btn{
        margin-top: 20px;
        width: 60px;
        height: 45px;
        background-color: black;
       /* border:  1px solid red; */
       border-radius: 0px 20px 20px 0px;
       /* margin-right: 20px; */
      
      
    }
    #searchbar{
        margin-top: 20px;
        width: 350px;
        height: 39px;
        font-size: 15px;
        /* margin-right: 20px; */
        
    }
    #nav_container> div:nth-child(3)>img{
        margin-top: 20px;
        text-align: center;
        margin-left: 100px;
    }
    #nav_container> div:nth-child(4)>div>img{
        /* margin-top: 12px; */
        margin-left: 30px;
    }
    #nav_container> div:nth-child(5)>div{
      margin-left: 20px;
        
    }
    #nav_container> div:nth-child(5)>div>p:hover{
        color: aqua;
        cursor: pointer;
    }
    
    #nav_container> div:nth-child(6)>div{
        margin-left: 60px;
        display: flex;
    }
    
    #nav_container> div:nth-child(6)>div>div>img{
        /* margin-top: 15px; */
        
    }
    .bg_modal{
        width: 100%;
        height: 100%;
        background-color: rgba(0 , 0, 0, 0.7);
       
        position: absolute;
        top: 0;
        display: flex;
        justify-content: left;
        display: none;
    }
    .modal_content{
        width: 30%;
        height: 100%;
        background-color: aliceblue;
        position: relative;
        
    }
    .modal_content > div:nth-child(1)>div>img{
       width: 60px;
    }
    #side_bar1{
        display: flex;
    }
    .modal_content>div{
        line-height: 5px;
    }
    .close{
        position: absolute;
        top: 0;
        right: 14px;
        font-size: 30px;
        transform: rotate(45deg);
        cursor: pointer;
        margin-top: 10px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 100%;
    }
    #nav_signin_right{
        width: 100%;
        height: 100%;
        background-color: rgba(0 , 0, 0, 0.7);
       
        position: absolute;
        top: 0;
        display: flex;
        justify-content: right;
        display: none;
    
    }
    .nav_signin_content{
        width: 30%;
        height: 100%;
        background-color: aliceblue;
        position: relative;
    
    }
    .close_signin{
        position: absolute;
        top: 0;
        right: 14px;
        font-size: 30px;
        transform: rotate(45deg);
        cursor: pointer;
        margin-top: 10px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 100%;
    
    }
    a{
        text-decoration: none;
        color: black;
    }

/**
*!BELOW NAVABR
**/
.container{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* .navbar{
    border: 1px solid black;
    height: 150px;
} */
.cart-main{
    /* border: 1px solid red; */
    height: auto;
}
.cart-footer{
    margin-top: 30px;
    /* border: 1px solid black; */
    height:auto;
    background-color: #F0F1F7;
}
.copyright{
    margin-bottom: 5px;
    margin-left: 15px;
    background-color: #F0F1F7;
}
.copyright a{
    text-decoration: none;
    color: black;
}
.copyright a:hover{
    cursor: pointer;
    color: skyblue;
}
#patent{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: #F0F1F7;
}
#last{
    background-color:#F0F1F7;;
}
/* .cart{
    border: 1px solid red;
    height: 60px;
    padding:10px;
} */
.cart h2{
    margin-top: 40px;
    color: #202340;
    padding: 10px 10px;
}
.cart-check{
    /* border: 1px solid red; */
    width: 99%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns:70% 28% ;
    gap: 10px;
    
}

#card-details div{
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    /* width: 70%;
    height: 200px; */
    cursor:pointer;
    
    
}
.indec{
    margin-left: 20%;

}
.indec button{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 40%;
    border: none;
    padding: 5px 5px;
    align-items: center;
}
.indec button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

#card-details div div{
    /* border: 1px solid black; */
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    margin-top: 10px;
    /* text-align: center; */
}
.save:hover,.btn:hover{
    background-color: black;
    color: white;
}

#card-details div div h3:hover{
    color: #00b4d8;

}
#card-details div div button{
    margin-top: 30px;
    border-radius: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
    
    
}

#card-details div div div button{
    display: flex;
    width: 5%;
}
.redline{
    /* border: 1px solid red; */
    color: #FFA76D;
    display: flex;
    flex-direction: column;
}
.red{
    
    font-weight: normal;
    display: flex;
    flex-direction: column;
}
.underline{
    text-decoration: none;
    color: black;
}
u{
    margin: 6px 6px;
}
.cart-check{
    /* display: flex;
    flex-direction:column ; */
}
.cart-check p{
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    margin-bottom: 5px;
}
.checkout{
    background-color: #F0F1F7;
    height:600px;
}
.checkout h2{
    /* border: 1px solid black; */
    margin-top: -2px;
    padding:10px;
}
.checkout hr{
    border: 1px solid black;
    width: 95%;
    margin: auto;
}

/**
*!class-label & id-textcentre  
**/
#interest{
    font-size: 17px;
}
#checkinout{
    margin-left: 50%;

    cursor: pointer;
    width: 50%;
    padding:12px 10px;
    border: none;
    border-radius: 15px;
    background-color: #414467;
    color: white;
    /* font-size: large; */
    margin-top: 30px;

}
#total{
    /* border: 1px solid red; */
    /* display: flex; */
width: 80%;
margin: auto;
margin-top: 40px;
padding:10px 10px;
font-size: 20px;
}
#total>p+span{
    font-weight: bold;
}

#sub+span{
    font-weight: bold;
}

h1{
width: 100%;
box-shadow: rgba(73, 73, 73, 0.15) 1.95px 1.95px 2.6px;
text-align: center;
}
#container>div{
box-shadow: rgba(73, 73, 73, 0.15) 1.95px 1.95px 2.6px;
width: 60%;
margin-top: 5%;
}
#container>div>img{
    width: 80%;
}
#Fc{
    width: 70%;
    margin: auto;
    display: flex;
}
.zip{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    font-size: 30px;
}
#apply{
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #fff;
    font-weight: bolder;
    border-radius: 18px;
    border: none;
}

#apply:hover{
    background-color: #414467;
    color: white;
    border: none;
}
#cont{
    display: flex;
    justify-content: end;
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-decoration: none;
    color: black;
}
.paypal1{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.paypal1 img:nth-child(1){
    width: 40%;
    margin-top: 20px;
}
.paypal1 img:nth-child(2){
    width: 40%;
    margin-top: 20px;
}
.paypal1 img:nth-child(3){
    width: 40%;
    margin-top: 20px;
}